{% extends 'client/base.html' %}
{% block content %}

<form method="post" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header"><h2 class="card-title">
                Редактировать сообщение
            </h2></div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{% url 'client:mailinmessage_form' %}" type="button" class="btn btn-success">Вернуться</a></div>
        </div>
    </div>
</form>
{% endblock %}