{% extends 'client/base.html' %}
{% block content %}

<div class="container">
    <div class="col-5 mb-3">
        <a href="{% url 'client:mailingSettings_forms' %}" type="button"
           class="btn btn-lg btn-block btn-outline-success">Количество рассылок: {{ mailingSetting_list|length }}</a>
    </div>
</div>

<div class="container">
    <div class="col-5 mb-3">
        <a href="{% url 'client:mailingSettings_forms' %}" type="button"
           class="btn btn-lg btn-block btn-outline-success">Количество активных рассылок: {{ mailingSetting_active|length }}</a>
    </div>
</div>

<div class="container">
    <div class="col-5 mb-3">
        <a href="{% url 'client:home' %}" type="button"
           class="btn btn-lg btn-block btn-outline-success">Количество клиентов: {{ client_list|length }}</a>
    </div>
</div>
{% endblock %}